<template>
    <div>
        <slot v-bind="message"></slot>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            message: ''
        }
    }
}
</script>

