<template>
    <div>
        <form method="POST" action="{{ route('admin.user.destroy', $user) }}" style="display:none" id="removeForm">
                <input type="submit" />
                {{ method_field('DELETE') }}
                {!! csrf_field() !!}
            </form>
            <a onclick="javascript:document.getElementById('removeForm').submit();" href="#" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only">
                <i class="flaticon-circle"></i>
            </a>
        <button type="button" class="btn btn-danger m-btn m-btn--custom" id="m_sweetalert_demo_9"> Show me</button>
    </div>
</template>

<script>
    export default {
        mounted() {
            Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: 'Something went wrong!',
            footer: '<a href>Why do I have this issue?</a>'
            })
        }
    }
</script>
