
a{
    color: #00BFB3;
}

a:hover {
    color: #D93B6F;
    text-decoration: underline;
}

.my_account i:hover{
    color: #D93B6F;
}

.new_order_menue .tab-pane{
    border: #838383 solid 2px;
    padding: 35px;
    margin: 25px 0;
}

.home .navbar-nav .is-active, .nothome .navbar-nav .is-active{
    background-color: #D93B6F;
    text-align: center;
}

.home .navbar-nav .is-active, .nothome .navbar-nav .is-active a:hover {
    color: #00BFB3;
}
