﻿@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);

*, html, body{
    font-family: 'Noto Naskh Arabic', serif;
}
   
body * {
    direction: rtl;
}
.rtl {
    direction: rtl;
}
.color1 {
    color: #D93B6F;  
}
.color2 {
    color: #00BFB3; 
}
.color3{
    color: #fff
}
.background1 {
    background-color: #D93B6F;
}
.background2 {
    background-color: #00BFB3;
}
.displyinline{
    display: inline;
}
.displyblock{
    display: block;
}
.container2 {
    margin: 0 auto;
    max-width: 95%;
}
.margin10 {
    margin: 10px
}
/* @font-face {
    font-family: 'GE_SS_Two_Bold';
    src: 
      url("../font/GE_SS_Two_Bold.eot") format("eot") ,
      url("../font/GE_SS_Two_Bold.woff2") format("woff2"),
      url("../font/GE_SS_Two_Bold.woff") format("woff"),
      url("../font/GE_SS_Two_Bold.ttf") format("truetype"),
      url("../font/GE_SS_Two_Bold.otf") format("opentype"),
      url("../font/GE_SS_Two_Bold.svg") format("svg"); 
    }
* {
    font-family: "GE_SS_Two_Bold"; 
}
.numberfont {
    font-family: "Arial", "Helvetica", "sans-serif";
} */
/*header*/

header .uperbar {
    align-items: center;
    padding: 20px 20px 50px 20px;
    width: 100%;
    
}
header .uperbar div:first-child a{
    color: #D93B6F;
    font-size: 40px;
    line-height: 10px;
}
header .uperbar div:first-child a:hover{
    text-decoration: none;
    color: #D93B6F;  
}
header .uperbar div{
    font-size:15px;
}
header .uperbar div i{
    font-size:25px;
    bottom: -3px;
    position: relative;
}
header .uperbar div i:nth-last-of-type(){
    bottom: 0;
}
header .uperbar span{
    color: #00BFB3   
}
header .uperbar div:last-child *{
    font-size:18px
}
header .uperbar div:last-child p{
    line-height: 10px;
}
header .uperbar div:last-child {
    padding-right: 5%
}
header .uperbar div:last-child span:last-of-type{
    border: 1px solid #D93B6F;
    line-height: 40px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    text-align: center;
}
header .uperbar div:last-child div i{
    font-size: 25px;
}
.home .navbar{
    position: absolute;
    top: 80px;
    width: 100%;
}
.home .navbar-nav {
   background-color: #00BFB3;
   width: 91%;
   margin: auto;
}
.home .navbar-nav .nav-item{
    flex: 2 1 auto;
    color: #ffffff;
    padding: 15px;
}
.home .navbar-nav .nav-item:nth-of-type(7) , .nothome .navbar-nav .nav-item:nth-of-type(7){
    background-color: #D93B6F;
    text-align: center; 
    
}
.navbar-nav .nav-item:nth-of-type(7) a:hover{
    color: #00BFB3
}
.navbar-nav  .contact{
    display: none;
}
.home .navbar-toggler ,.nothome .navbar-toggler {
    right: 85%;
    position: relative;
    border: 0;
    top: 6px

}
.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}
.home .navbar-toggler i ,.nothome .navbar-toggler i {
    font-size: 30px

}
.navbar-nav .nav-item .nav-link{
    color: #ffffff
}
.navbar-nav .nav-item .nav-link:hover{
    color: #D93B6F
}
header .banner {
    background-image: url('http://d.up-00.com/2018/10/153889938610771.jpg');
    background-size: 100% ;
    background-repeat:no-repeat;
    padding: 100px 0; 
    height: 450px;
}
header .banner p {
   margin-top: 20px
}
@media(max-width:1200px) {
    .navbar-nav .nav-item .nav-link  {
        font-size: 15px
    }
    .home .navbar-nav .nav-item {
        padding: 8px;
    }
    .home .navbar{
        top: 85px;
    }
}
@media(max-width:991px) {
    .navbar-nav  .contact{
        display: inline;
    }
    .collapse ,.navbar-collapse {
        width: 100%;
      
    }
    header .uperbar {
        padding-bottom: 20px
        
    }
    .navbar-collapse {
        z-index: 3;
        margin-top: 8px;
    }
    .nothome .navbar-collapse {
        z-index: 3;
        margin-top: 12px;
    }
    .uperbar .hidein991{
        display: none;    
    }
    .home .navbar {
        padding: 0
    }
    .home .navbar-nav , .nothome .navbar-nav{
        margin-top: 18px;
        padding-bottom: 0;
        margin: 15px 0 0 0;
        width: 100%;
        border-bottom: #D93B6F solid 2px ;
        padding-top: 10px
    }
    .navbar-nav .nav-item p{
        display: inline;
    }
    .navbar-nav .nav-item:last-of-type i{
        float: right;
        margin-left: 5px;
    }
    .navbar-nav .nav-item:last-of-type p:first-child{
        display: none;
    }
    .navbar-nav .nav-item{
        padding: 5px 25px;
    }
    .navbar-nav .nav-item .nav-link{
        padding-right: 8%;
        padding-bottom: 3px;
        padding-top: 3px;
    } 
    .home .navbar ,.nothome .navbar{
        position: absolute;
        top: 10px
    }
    .home .navbar-nav .nav-item , .nothome .navbar-nav .nav-item{
        padding: 6px;
    }
    .contact {
        margin-right: 8%
    }

    header .uperbar div {
        padding-top: 10px
    }
    .home .navbar-nav .nav-item:nth-of-type(7) , .nothome .navbar-nav .nav-item:nth-of-type(7){
        text-align: right; 
        
    }
    
    
}
@media(max-width:770px) {
    .home .navbar-toggler {
        right: 80%;
    }
    header .banner p {
        font-size: 12px;
        margin:0
     }
     header .banner {
      padding-top: 40px;
      padding-bottom: 40px;
     }
     .home {
         overflow: hidden;
     }
     
   
}
@media(max-width:1015px) and (min-width:991px){
    .home .uperbar div i , .nothome .uperbar div i{
        font-size:18px
    }
}




/*استلم شخنتك*/
.charge h3 {
    margin: 50px 0;
}
.charge form {
  margin-bottom: 70px
}
.charge form select{
    border-radius: 0;
    color: #D93B6F;
    border: #D93B6F;
    border: #D93B6F 1px solid;
    background-color: #f8f8f8;
}
.charge form input{
    border-radius: 0;
    border: #D93B6F 1px solid;
    background-color: #f8f8f8;
    height: 35px;
}
.charge form input::placeholder{
    color: #D93B6F;
}
.charge form input:focus , .charge form select:focus { 
    outline: none !important;
    border-color: #D93B6F;
    box-shadow: 0 0 10px #D93B6F;
}
.charge form button{
    border-radius: 0;
    border: 0;
    color: #fff;
    background-color: #D93B6F;
    border: #D93B6F 1px solid;

}
.charge form button:hover{
  color: #D93B6F;
  background-color: #fff;
  border: #D93B6F 1px solid;

}

@media(max-width:991px) {
    .charge form * {
        margin-bottom: 15px
    }
}
@media(max-width:770px) {
    .charge h3 {
        font-size: 20px;
        margin: 30px 0;
    }
    .charge form {
      margin-bottom: 30px
    }
    form {
        padding: 25px;
    }
}





/*-ارسال وتتبع الشحنات */
.recive {
    background-image: url('http://d.up-00.com/2018/10/153889938610771.jpg');
    background-size: 50% 100%;
    background-repeat: no-repeat;
    color: #fff;
}
.recive .background {
    background-color: #00BFB3;
    opacity: .9;
    clip-path: polygon(25% 0,100% 0 , 100% 100% ,40% 100%);
}
.recive ul { 
    padding: 40px 0 ;
}
.recive li {
    position: relative;
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 16px;
}

.recive li:before {
        content:'';
        padding: 0 0 0 25px;
        background:url(../img/mmm.png) no-repeat 0 3px;
        position: relative;
        right: -15px;
    
}
.recive li:last-of-type {
    margin-bottom: 0
}
@media(max-width:1200px) {
    .recive li {
        font-size: 15px;
    }
    
    .recive .background {
        clip-path: polygon(15% 0,100% 0 , 100% 100% ,30% 100%)
    }
}
@media(max-width:992px) {
    .recive li {
        font-size: 13px
    }
    .recive li:before {
        content:'';
        padding: 0 0 0 15px;
        background:url(../img/mmm.png) no-repeat 0 .3px;
        position: relative;
        right: -15px;
    }
}
@media(max-width:770px) {
    .recive ul {
        padding: 20px 35px;
    }
    .recive .background {
        clip-path: polygon(0 0,100% 0 , 100% 100% ,0 100%)
    }
    .recive li {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .recive li:before {
        content:'';
        padding: 0 0 0 25px;
        background:url(../img/mmm.png) no-repeat 0 .3px;
        position: relative;
        right: -15px;
    }
    .recive li {
        text-indent: -2.2em;
    }
 
}




/*<!--الخطوات فى صور-->*/
    .step {
        padding: 40px;
    }
    .step h2{
        margin-bottom: 25px
    }
    .step .grid1 i{
        width: 120px;
        border: #D93B6F 1px solid;
        height:120px ;
        font-size: 60px;
        text-align: center;
        line-height: 120px ;
        margin-bottom: 20px;
        color: #00BFB3;

    }
    @media(max-width:770px) {
        .step {
            padding: 20px;
        }
        .step h2{
            margin-bottom: 15px
        }
        .step .grid1 i{
            width: 80px;
            border: #D93B6F 1px solid;
            height:80px ;
            font-size: 40px;
            text-align: center;
            line-height: 80px ;
            margin-bottom: 20px;
            color: #00BFB3;
    
        }
    }







/*هل ما زلت ترغب فى المزيد*/

.more {
    overflow: hidden;
    background-color: #00BFB3
}
.more img {
    width: 250px;
}
.more .txt {
    text-align: center;
    padding-top: 40px ;
    padding-left: 150px
}
.more .txt h3{
    margin-bottom: 30px;
    font-size: 25px
}
.more .buttonbox {
    background-color: #D93B6F;
    margin-top: 40px;
    margin-bottom: 30px
}
.more button:focus {
    outline: none !important;
    border-color: #D93B6F;
    box-shadow: 0 0 10px #D93B6F;
}

@media (max-width:991px) {
    .more .txt {
        text-align: center;
        padding-top: 40px ;
        padding-left: 15px
    }
 }

 @media (max-width:700px) {
    .more .txt h3{
        margin-bottom: 30px;
        font-size: 18px
    }
    .more .txt p{
        font-size: 12px
    }
}







/*هل تواجه مشكله*/
.problem {
    padding: 50px;
   

}
.problem i {
    font-size: 9vh;
    color: #D93B6F;
    align-items: baseline
}
.problem button {
    border-radius: 0;
    border: 0;
    color: #fff;
    background-color: #D93B6F;
    border: #D93B6F 1px solid;
    width: 150px;
    margin-top: 30px;
    max-width: 150px;
}
.problem button:hover {
    color: #D93B6F;
    background-color: #fff;
    border: #D93B6F 1px solid; 
}
.problem button:focus {
    outline: none !important;
    border-color: #D93B6F;
    box-shadow: 0 0 10px #D93B6F;
}
.problem h4 {
    font-size: 2.9vh
}
.problem p {
    font-size: 2vh;
    max-width: 400px;
}
@media (max-width:771px) {
    .problem i {
        font-size: 7vh;
    }
    .problem h4 {
        font-size: 2.5vh
    }
    .problem p {
        font-size: 1.7vh;
        max-width: 400px;
    }
    .problem {
        padding: 20px;
    
    }
    .problem button {
        margin-top: 20px
    }
 }
 @media (max-width:500px) {
    .problem i {
        font-size: 4.5vh;
    }
    .problem h4 {
        font-size: 2.4vh
    }
    .problem p {
        font-size: 1.4vh;
        max-width: 350px;
    }
    .problem {
        padding: 15px;
    
    }
    .problem button {
        margin-top: 10px
    }
 }






/*footer*/
footer {
    background-color: #00BFB3;
    padding: 25px 0 0 0;
    border-bottom: #fff solid 2px;
    font-size: 17px;
    border-top: #41494E solid 7px
}
.container_of_footer {
    margin: 0 auto;
    max-width: 100%;
}
footer .container .row div a {
    color: #fff;
}
footer .container .row div  {
    color: #fff;
    text-align: center;
    border-left: #D93B6F solid 1px
}
footer .container .row div:last-of-type {
    border-left: 0
}
footer .scroll  {
    width: 30px;
    height: 30px;
    border: #fff solid 3px;
    background: #00BFB3;
    cursor: pointer;
    position: relative;
    top: 15px;
    text-align: center;
    align-items: baseline
}
footer .scroll i {
    font-size: 22px;
    color: #ffffff
}
@media(max-width:1200px) {
    footer {
        padding: 15px 0 0 0;
        font-size: 14px
    }

}
@media(max-width:991px) {
    footer {
        font-size: 12px
    }
    footer .col-md-2 {
        padding-left: 5px;
        padding-right: 5px;
    }

}
@media(max-width:770px) {
    footer .container .row div  {
        border-left:  0
    }
    footer .container .row div  {
        text-align: right;
        padding-bottom: 7px;
        padding-right: 20px
    }
    footer {
        font-size: 15px
    }
    footer .col-md-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

/*uperbar*/
.lowerbar {
    padding: 10px ;
    background-color: #41494E; 
}
.lowerbar p{
  margin-bottom: 0
}
@media(max-width:770px) {
    .lowerbar p{
        font-size: 14px
      }
}



/*/////////////////////////////////active_givtsd///////////////////////////////////////////*/
.notehome .navbar{ 
    position: static;
    top: 0
}
.nothome .navbar-nav {
    background-color: #00BFB3;
    width: 100%;
    margin: auto;
    padding-bottom: 0;
 }
 .nothome nav {
   
    padding-bottom: 0;
 }
.nothome .navbar-nav .nav-item{
     flex: 2 1 auto;
     color: #ffffff;
     padding: 15px;
 }
header .paddingbottom20 {
   padding: 20px;
}
@media(max-width:991px) {
    .nothome .navbar-nav {
        width: 100%;
        margin-top:10px;
     }
     .nothome .navbar-nav .nav-item{
        padding: 10px;
        
    }
    .nothome .navbar {
        width: 100%;
        margin: 0;
        padding: 0;
     }
}
@media(max-width:1200px) {
     .nothome  .navbar-nav .nav-item .nav-link {
        font-size: 15px
    }
     .nothome .navbar-nav .nav-item {
        padding: 8px;
    }
    .nothome .navbar{
        padding-top: 0
    }
    .nothome .uperbar div  i{
        font-size: 20px;
    }
}


/*front*/
.front {
    background-image: url('../img/Untitled.png');
    background-size: 100% 100%;
    padding-top: 50px
}
.front h1{
   margin-bottom: 80px
}
.front div div{
    background-color: #00BFB3;
    clip-path: polygon(55% 0,100% 0 , 100% 100% ,50% 100%);
    width: 700px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
}
.front div div *{
   margin-right: 10px
}
.container3 {
    margin: auto;
    max-width: 87%;
}
/*account*/

.account .notification {
    padding: 10px;
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    font-size: 18px;
    align-items: center;
}
.account .notification div div{
   border-radius: 50%;
   text-align: center;
   align-items: center;
   font-size: 15px;
   width: 20px;
  
}
.account .accontsett  {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    font-size: 18px;
    align-items: center;
}
.account .accontsett img{
    width: 30%;
    margin-top: 30px;
    margin-bottom: 10px
}
.account .accontsett p{
    font-size: 18px;
    border-bottom: solid 3px #b3b3b3;
    padding-bottom: 10px
}
.account .accontsett div {
    align-items: center;
    font-size: 15px;
    padding-bottom: 10px
}
.account .pannel  {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: solid 5px #00BFB3
}
.account .pannel div {
  padding: 10px;
}
.account .pannel div a:hover{
    text-decoration: none;
    color: #D93B6F
}
.now2 {
    text-decoration: none;
    color: #D93B6F
}
.account .pannel div a:hover i{
    color: #00BFB3
}
.account .pannel div a i{
    color: #00BFB3
}
.account .pannel div span {
    font-size: 18px
}
.account .pannel div i{
    margin-left: 5px;
    border: solid 1px #00BFB3;
    width: 33px;
    height: 33px;
    text-align: center;
    font-size: 18px;
    line-height: 33px
}
.account .pannel div:first-of-type i{
    margin-left: 10px;
    border: solid 0 #00BFB3;
    font-size: 22px;
}
.account .pannel div:first-of-type {
    background-color: #D93B6F;
    color: #ffffff;
}
.account .area1 {
    background-color: #f2f2f2;
    margin: 20px 0 ;
    border-bottom: solid 5px #00BFB3;
    padding: 25px ;
    height: 300px;
}
.account .area1 .row1 div {
    width: 18.4%;
    margin-left:2% ;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
}
.account .area1 .row1 div:last-child{
    margin-left: 0;
}
.account .area1 .nav-tabs   .nav-item  {
    width: 30%;
    margin-left:5% ;
    cursor: pointer;
    font-size: 20px;
    
}
.account .area1 .nav-tabs   .nav-item  .nav-link {
    color: #fff
    
}
.account .area1 .nav-tabs   .nav-item .active ,.account .area1 .nav-tabs   .nav-item:hover  {
    background-color: #D93B6F;
    color: #fff
    
}
.account .area1 .row2 div:hover , .account .area1 .row1 div:hover , .now  {
    background-color: #D93B6F
}
.account .area1 .nav-tabs   .nav-item:last-child{
    margin-left: 0;
}
.account .area1  p {
    margin-top: 30px;
    font-size: 20px
}
@media(max-width:991px) {
    .account .area1 .row2 div , .account .area1 .row1 div , .account .area1  p,.account .accontsett p
    ,.account .pannel div span {
        font-size: 14px; 
    }
    .account .notification,.front div div  {
        font-size: 16px
    }
   .account .pannel , .account .accontsett , .account .notification {
       margin:20px 0 auto;
       font-size: 12px
   }
   .account .area1 .nav-tabs   .nav-item {
    font-size: 13px;
}
}
@media(max-width:991px) and (min-width:770px) {
    .account .notification div div{
        font-size: 12px;
        width: 15px;
     }
     .account .notification *{
        padding: 0;
     }
     .account .pannel  div * , .account .accontsett * {
        font-size: 12px !important
    }
    .account .pannel div i{
        margin-left: 2px;
        width: 25px;
        height: 25px;
        line-height: 25px
    }

}
@media(max-width:771px) {
    .account .area1 .row1 div  , .account .area1 .row2 div {
        font-size: 11px;
    }
    .account .area1 .nav-tabs   .nav-item {
        font-size: 11px;
    }
}

/*/////////////////////////////////////////////add addres/////////////////////////*/
.addadress {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    padding: 20px ;
    border-bottom: #00BFB3 solid 5px
}
.addadress h3{
    margin-top: 40px
}
.hr{
    width: 50px;
    background-color: #D93B6F;
    color: #D93B6F;
    border-bottom: 1px solid #D93B6F;
}
label {
    text-align: right;
    color: #00BFB3;
}
.boxofinput {
    border-radius: 0;
    border: #D93B6F solid 1px;
}
.boxofinput:focus  { 
    outline: none !important;
    border-color: #D93B6F;
    box-shadow: 0 0 10px #D93B6F;
}
.buttonbox {
    border-radius: 0;
    background-color: #00BFB3;
    border: 0;
}
.buttonbox:hover {
    background-color: #D93B6F;
}
.addadress ::placeholder ,.addadress select{
    color: #00BFB3;
 
  }
  
@media(max-width:1200px) and (min-width:991px) {
    label {
        font-weight: 330;
    }
}
@media(max-width:771px) {
    .addadress {
        padding: 10px;
    }
    .addadress label {
        font-size: 12px
    }
    .addadress select{
        font-size: 12px
    }
    .addadress form{
         padding: 10px;
    }
}
@media(max-width:490px) {
    .front div div{
        width: 500px;
        height: 40px;
        padding: 5px;
        font-size: 14px
    }
    .buttonbox {
        font-size: 14px
    }
}



/*//////////////////////////address page //////////////////////*/
.address {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    padding: 70px 40px ;
    border-bottom: #00BFB3 solid 5px
}





/***************address_recived/////////////////////////*/
.address_recived {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    padding: 30px 50px 80px;
    border-bottom: #00BFB3 solid 5px;
}
.address_recived  .box {
    border: solid 2px #D93B6F;
    height: 70px;
    line-height: 60px;
    margin: 10px 0;
    font-size: 18px;
}
.address_recived  .box:last-of-type {
    margin-bottom: 50px;
}
@media(max-width:991px) {
    .address_recived  .box {
        font-size: 14px
    }
    .address_recived  label ,  .address_recived select {
        font-size: 14px
    }
}
@media(max-width:455px) {
    .address_recived   {
        padding: 30px 20px 80px;
    }
    .address_recived  .box {
        font-size: 1.7vh;
    }
}

/*///////////////////////////////bank account//////////////////////////////////////////////*/
.bankaccount {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    padding: 50px 80px 80px;
    border-bottom: #00BFB3 solid 5px;
}
.bankaccount button{
   margin-right: 15px;
   margin-bottom: 0
}
.bankaccount ::placeholder ,.bankaccount select{
   color: #00BFB3;
   font-weight: 700;

 }
 @media(max-width:771px) {
    .bankaccount {
        
        padding:20px;
     
    }
    .bankaccount form {
        padding: 15px 10px;
    }
 }




 /*////////////////////////////////blance_history//////////////////////////////////////*/
 .blance_history {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    padding: 40px 40px 80px;
    border-bottom: #00BFB3 solid 5px;
 }
 .blance_history  div{
    padding: 30px;
    margin: 2.5% 4.1%;
    border-bottom: #D93B6F solid 5px
 }
 .blance_history  .finalbox{
    padding: 30px;
    margin: 2.5% 4.1%;
    border: #00BFB3 solid 2px;
    
    
 }



/*///////////////////////////////////my_account/////////////////////*/
.my_account {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    padding: 40px 40px ;
    border-bottom: #00BFB3 solid 5px;
}
.my_account  i{
    font-size: 40px;
    width: 100px;
    height: 100px;
    border: 1px solid #00BFB3;
    line-height: 100px;
    cursor: pointer;
}
.my_account  p{
  font-size: 20px;
  margin-bottom: 35px
}
@media(max-width:991px) {
    .my_account  i{
        font-size: 30px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin-bottom: 5px
    }
    .my_account  p{
      font-size: 17px;
      margin-bottom: 30px
    }}
@media(max-width:771px) {
    .my_account  i{
        font-size: 25px;
        width: 70px;
        height: 70px;
        line-height:70px;
    }
    .my_account  p{
      font-size: 15px;
      margin-bottom: 25px
    }
}

/*///////////////newregister///////////////////////////*/
.new_register {
    padding: 40px;
}
.new_register  div i {
    font-size: 50px;
    width: 100px;
    height: 100px;
    border: transparent solid 1px;
    line-height: 100px;
    cursor: pointer;
}
.new_register  div p{
    font-size: 25px;
    margin-top: 10px
   
}
.new_register  div i:hover {
   background-color: #D93B6F
}
@media(max-width:991px) {
    .new_register div i{
        font-size: 30px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        margin-bottom: 5px
    }
    .new_register div  p{
      font-size: 17px;
      margin-bottom: 30px
    }}
@media(max-width:771px) {
    .new_register div i{
        font-size: 25px;
        width: 70px;
        height: 70px;
        line-height:70px;
    }
    .new_register div p{
      font-size: 15px;
      margin-bottom: 15px
    }
}




/*//////////////////////////neworder////////////////////////*/
.new_order{
    margin: 20px 0 20px;
}
.new_order .fee{
   height: 50px;
   color: #fff

}
.new_order .delivery{
    min-width: 48%;
    line-height: 50px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #00BFB3;
    height: 50px;
}
.new_order_menue {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    padding: 40px 40px 50px;
    border-bottom: #00BFB3 solid 5px;
}
.new_order_menue .nav-tabs .nav-item {
    width: 32%;
    cursor: pointer;
    margin-left: 2%;
    font-size: 20px;
}
.new_order_menue .row1  {
    margin: auto;
}
.new_order_menue .nav-tabs .nav-item:last-child{
    margin-left: 0;
}
.new_order_menue form label {
    text-align: right;
    color: #838383;
    font-weight: 800;
}
.new_order_menue .boxofinput {
    border-radius: 0;
    border: #D93B6F solid 1px;
}
.new_order_menue .boxofinput:focus  { 
    outline: none !important;
    border-color: #D93B6F;
    box-shadow: 0 0 10px #D93B6F;
}
.new_order_menue ::placeholder ,.new_order_menue select{
    color: #838383;
    font-weight: 700;
}

.new_order_menue form {
    border: #838383 solid 2px;
    padding: 35px;
    margin: 25px 0;
}
.new_order_menue  .form-check {
   color: #838383;
   margin-bottom: 10px;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: #fff;
    border-radius: 50%;
    top:7px
  }
input[type="radio"]:checked {
    background-color: #D93B6F;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: transparent;
    top:-3px
}
  input[type="checkbox"]:checked {
    background-color: #D93B6F;
}
.precive {
    color: #41494E;
    font-size: 13px;
    margin-bottom: 0
}
.maxwidth200px{
    max-width: 200px;
}
.new_order_menue .row1 div:hover , .now {
    background-color: #D93B6F;
}
.new_order_menue .nav-tabs .nav-item:hover .nav-link , .new_order_menue .nav-tabs .nav-item .active {
    background-color: #D93B6F; 
    color: #fff;
}
.new_order_menue .form-form-check span{
    font-size: 14px
}
@media(max-width:991px) {
    .new_order_menue form label {
        font-weight: 500;
        font-size: 16px
    }
    .new_order_menue {
        padding: 20px 20px 40px;
    }
    .new_order_menue h3{
        font-size: 22px
    }
    .new_order_menue .nav-tabs .nav-item {
        font-size: 15px
    }
    input[type="radio"] {
        width: 13px;
        height: 13px;
        padding: 2px;
        top:4px
    }
    input[type="checkbox"] {
        width: 15px;
        height: 15px;
        padding: 2px;
        top:0
    }
    .new_order_menue .form-form-check {
        padding: 10px;
    }
    .new_order_menue .form-form-check span{
        font-size: 10px
    }
    .new_order{
        padding: 0;
    }
}
@media(max-width:771px) {
    .new_order .fee{
        height: 100px;
     }
     .new_order_menue .nav-tabs .nav-item {
        font-size: 12px
    }
    .new_order_menue form label {
        font-weight: 500;
        font-size: 14px
    }
    .new_order .delivery{
        width: 100%;
    }
    .new_order .delivery .row{
        margin: auto
    
    }
    .new_order .delivery:first-of-type{
        margin-left:0 ;
        margin-bottom: 10px
    }
    .new_order_menue h3 {
        font-weight: 800;
        font-size: 20px
    }
    .new_order  {
        padding: 0;
    }
    .new_order_menue .form-form-check {
        padding: 3px;
    }
    input[type="radio"] {
        width: 10px;
        height: 10px;
        padding: 2px;
        top:2px
    }
    input[type="checkbox"] {
        width: 15px;
        height: 15px;
        padding: 2px;
        top:0
    }
    
    
}

/****************************new_order_confirة//////////////////////////////////////////*/
.new_order_confirm {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    padding: 40px 40px ;
    border-bottom: #00BFB3 solid 5px;
}
.new_order_confirm .confirm{
    border: #e3e3e3 solid 3px ;
    background-color: #fff;
    padding: 30px
}
.new_order_confirm .confirm:first-of-type{
    border-left: 0
}
.new_order_confirm  .confirm_detail {
    background-color: #00BFB3;
    margin: 10px;
    height: 40px;
    color: #ffffff;
    text-align: right;
    padding: 10px;
}
.new_order_confirm  .confirm_detail_tail .plumb{
    float: right;
    margin: 10px;
    height: 35px;
    color: #fe0000;
    text-align: right;
    padding: 10px;
    border: solid 1px #ff7a7a;
    line-height: 15px
   
}
.new_order_confirm  .confirm_detail_tail .bankup {
    float: left;
    margin: 10px;
    height: 35px;
    color: #02a825;
    text-align: right;
    padding: 10px;
    border: solid 1px #02a825;
    line-height: 15px
   
}
 .message {
    border: solid 3px #00BFB3;
    padding: 20px;
    font-size: 20px;
    color: #00BFB3;
    align-items: center;
    margin: 15px  auto
}
.new_order_confirm  h3 {
    margin-top: 40px
}
.new_order_confirm  form {
    border: solid 1px #00BFB3;
    padding: 30px;
    text-align: right;
    margin-top: 20px;
    color: #00BFB3;
}
.new_order_confirm  .twobtt {
    margin-top: 25px
}
.new_order_confirm  .twobtt button{
    width: 120px;
}
.new_order_confirm  .twobtt button:last-of-type{
    margin-right: 10px
}
.new_order_confirm  .twobtt button:first-of-type{
    margin-left: 10px
}
.new_order_confirm  i{
    font-size: 30px;
    color: #00BFB3;  
}
.new_order_confirm  .arrow{
    border: solid 1px transparent;
    width: 50px;
    height: 50px;
    line-height: 63px;
    border-radius: 50%;
    background-color: #f2f2f2;
    position: relative;
    right: 102%;
    bottom: 25vh;
    z-index: 2;
   
}
@media(max-width:991px) {
    .new_order_confirm .confirm:first-of-type{
        border-bottom: 0;
        border-left: #e3e3e3 solid 3px ;
    }
    .new_order_confirm  .arrow{
        right: 43%;
        top: 20px;
        transform: rotate(-90deg)
    }
    .new_order_confirm .confirm:first-of-type {
        padding-bottom: 0px ;

    }
}
@media(max-width:1200px) and (min-width:991px){
    .new_order_confirm  .confirm_detail {
        font-size: 15px;
        padding: 5px;
    }
    .new_order_confirm {
        padding: 20px ;

    }
    .new_order_confirm  .confirm_detail_tail .bankup , .new_order_confirm  .confirm_detail_tail .plumb{
        float: none;
        text-align: center
    }
    
}
@media(max-width:771px){
    .new_order_confirm form {
        padding: 10px;
    }
    .new_order_confirm  .confirm_detail_tail .bankup , .new_order_confirm  .confirm_detail_tail .plumb{
        float: none;
        text-align: center
    }
    .new_order_confirm  .confirm_detail {
        font-size: 13px;
        padding: 10px;
    }
    .new_order_confirm {
        padding: 10px ;

    }
 
    .new_order_confirm  .twobtt button:last-of-type{
        margin-right:0
    }
    .new_order_confirm  .twobtt button:first-of-type{
        margin-left: 0
    }
    .form-form-check2 span {
        font-size: 13px;
    }
    .message {
        font-size: 16px
    }
}



/*//////////////////////////////////////////////reports*********************************************************/
.reports {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    padding: 40px 10px ;
    border-bottom: #00BFB3 solid 5px;
}
.reports .date1 {
    font-size: 18px;
    margin: auto
}
.reports .date1 div {
    border: #00BFB3 solid 2px;
    margin-right: 4%;
}
.reports .date1 div:first-of-type{
    margin-right: 0;
}
.reports .date1:first-of-type span{
    padding-right: 0;
}
.reports form {
    margin: 30px 17%;
    font-size: 18px;
}
.reports .send {
    margin-top: 70px;
}
.reports .send input {
    max-width: 350px;
    margin:20px auto;
    
}
@media(max-width:1200px) and (min-width:991px){
    .reports .date1 , .reports form {
        font-size: 17px;
    }
    .reports .date1 div {
        margin-right: 2%;
    }
    .reports .date1:last-of-type span{
        padding-right: 0;
    }
}
@media(max-width:991px) {
    .reports .date1:last-of-type span{
        padding-right: 0;
    }
    .reports .date1:first-of-type {
        margin-bottom: 15px
    }
}
@media(max-width:700px) {
    .reports .date1 , .reports form {
        font-size: 14px;
    }
    .reports form {
        margin: 30px 12%;
    }
    .reports .send input {
        max-width: 300px;   
    }
}





/*///////////////////////////transfer_bank_period*********************************/
.transfer_bank_period {
    background-color: #f2f2f2;
    margin: 20px 0 20px;
    padding: 40px 10px ;
    border-bottom: #00BFB3 solid 5px;
}
.transfer_bank_period  select{
    margin: 50px auto;
    max-width: 350px;
}
.transfer_bank_period  select{
    color: #00BFB3;
 
}




/*//////////////////////////////////////vendor_confirm register//////////////////////////////*/
.front_for_vendor_confirm_register div div {
    background-color: #00BFB3;
    clip-path: polygon(55% 0,100% 0 , 100% 100% ,50% 100%);
    width: 900px;
    height: 50px;
    font-size: 18px;
    padding: 10px;
}
.vendor_confirm_register {
    padding: 25px 0 50px 0;
}
.vendor_confirm_register .message {
    margin: 10px 50px 50px 50px;
}

.vendor_confirm_register .form-check {
    margin: 25px auto;
    background-color: #00BFB3;
    color: #fff;
    height: 50px;
    padding: 10px;
    line-height: 30px;
    max-width: 500px;
    border-left: solid #D93B6F 10px;
    border-right: solid #D93B6F 10px;
}
.vendor_confirm_register .form-check input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: #fff;
    border-radius: 50%;
    top:3px
  }
  .vendor_confirm_register .form-check input[type="radio"]:checked {
    background-color: #D93B6F;
}
.vendor_confirm_register .form-check:first-of-type {
    margin-top: 60px;
}
@media(max-width:1200px) {
    .front_for_vendor_confirm_register div div {
        background-color: #00BFB3;
        clip-path: polygon(55% 0,100% 0 , 100% 100% ,50% 100%);
        width: 800px;
        height: 50px;
        font-size: 16px;
        padding: 10px;
    }
}
@media(max-width:771px) {
    .front_for_vendor_confirm_register div div {
        background-color: #00BFB3;
        clip-path: polygon(55% 0,100% 0 , 100% 100% ,50% 100%);
        width: 650px;
        height: 40px;
        font-size: 13px;
    }
    .vendor_confirm_register .message ,.vendor_confirm_register .form-check  {
        font-size: 16px
    }
}





/****************************************************************vendor_register*********************************************************/
.front_for_vendor_register div div {
    background-color: #00BFB3;
    clip-path: polygon(55% 0,100% 0 , 100% 100% ,50% 100%);
    width: 900px;
    height: 50px;
    font-size: 17px;
    padding: 10px;
}
.vendor_register {
    padding: 60px 0 ;
}
.vendor_register  .data_for_register{
    background-image: url('../img/maxresdefault.jpg');
    background-size: 100% 100%;
    margin: 50px 0;
    width: 100%;
    position: relative;
}
.vendor_register  form {
    padding: 40px 15% 50px;
    margin: 0;
    width: 100%;
}
.data_for_register:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: #00BFB3;
    opacity: .7;
  }

.vendor_register  form input::placeholder{
    text-align: center
}
.vendor_register  form input{
    margin-top: 25px
}
.vendor_register  form input:last-of-type{
    margin-bottom: 30px
}
.vendor_register  form .buttonbox{
    background-color: #D93B6F;
    width: 120px;
    position: relative;
}

@media(max-width:1200px) {
    .front_for_vendor_register div div {
        background-color: #00BFB3;
        clip-path: polygon(55% 0,100% 0 , 100% 100% ,50% 100%);
        width: 800px;
        height: 50px;
        font-size: 15px;
        padding: 10px;
    }
}
@media(max-width:771px) {
    .front_for_vendor_register div div {
        background-color: #00BFB3;
        clip-path: polygon(55% 0,100% 0 , 100% 100% ,50% 100%);
        width: 700px;
        height: 40px;
        font-size: 13px;
    }
    .vendor_register  form input:last-of-type{
        margin-bottom: 0
    }
    .vendor_register  form .row div:last-of-type input:last-of-type{
        margin-bottom: 20px
    }
    .vendor_register  form {
       padding-top: 20px ;
       padding-bottom: 20px
    }  
}
@media(max-width:991px) {
    h1 {
        font-size: 30px
    }
    h2 {
        font-size: 25px
    }
    h3 {
        font-size: 22px
    }
}
@media(max-width:770px) {
    h1 {
        font-size: 25px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 17px
    }
}

.form-group {
    align-items: center
}

