
a{
    color: #00BFB3;
}

a:hover {
    color: #D93B6F;
    text-decoration: underline;
}

.my_account i:hover{
    color: #D93B6F;
}

.new_order_menue .tab-pane{
    border: #838383 solid 2px;
    padding: 35px;
    margin: 25px 0;
}


.home .navbar-nav .is-active, .nothome .navbar-nav .is-active{
    background-color: #D93B6F;
    text-align: center;
}

.home .navbar-nav .is-active, .nothome .navbar-nav .is-active a:hover {
    color: #00BFB3;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background: aqua;
    background-color: #00BFB3;
    color: white;
}

.btn-primary, .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #D93B6F;
    color: #ffffff;
    border-color: #D93B6F;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color:  #D93B6F;
    border-color:  #D93B6F;
}
.carousel-control-prev {
    right: unset;
}

.carousel img {
    max-height: 360px;
    margin: 0 auto;
}

.front {
    background-color: none;
    background-image: none;
    background-size: 100% 100%;
    padding-top: 10px;
}